<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Recent Updates</h5>
                <button id="refreshUpdates" class="btn btn-sm btn-outline-primary">Refresh</button>
            </div>
            <div class="card-body">
                <ul id="recentUpdates" class="list-group list-group-flush">
                    <li class="list-group-item">Loading updates...</li>
                </ul>
            </div>
        </div>
    </div>
</div> 