<div class="row mb-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Weather in <span id="city">Atlanta</span></h5>
                <h2 id="temperature">--°F</h2>
                <p id="conditions">Loading weather data...</p>
                <p>Feels like: <span id="feelsLike">--</span>°F</p>
                <p>Humidity: <span id="humidity">--</span>%</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bus Status</h5>
                <h2 id="busStatus">--</h2>
                <p id="busDetails">Loading bus status...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Train Status</h5>
                <h2 id="trainStatus">--</h2>
                <p id="trainDetails">Loading train status...</p>
            </div>
        </div>
    </div>
</div> 