{% extends "base.html" %}

{% block title %}MARTA Dashboard{% endblock %}

{% block content %}
    <!-- Status Cards -->
    {% include 'partials/_status_cards.html' %}

    <!-- Transit Map -->
    {% include 'partials/_transit_map.html' %}

    <!-- Recent Updates -->
    {% include 'partials/_recent_updates.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }} {# Include base scripts like Leaflet #}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}